*, *::before, *::after {
	box-sizing: border-box;
}

	.clearfix::before,
	.clearfix::after {
		content: "";
		display: block;
		clear: both;
	}


html, body{
	
	height: 100%;
	margin: 0;
}


/*layout start css*/


main {
		height: 100%;
		width: 80%;
		margin: 0 auto;
		background-color: grey;
	}

	section#friends {
		width: 250px;
		height: 100%;
		background-color: teal;
		float: left;
	}




	section#messages {
		height: 100%;
		margin-left: 250px;
		background-color: orange;
	}

	div#messagebox {
		height: 40px;
		width: 100%;
		background-color: grey;


	}

/*layout end css*/

#friends ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


#friends ul li {
padding: 5px;
border-bottom: 1px solid black;
}

#friends ul li img {
	width: 50px;
	float: left;
	border-radius: 50%;
}

#friends ul li div:first-of-type {
	width: 150px;
	float: left;
	padding-left: 10px;
}

#friends ul li div:first-of-type h2,
#friends ul li div:last-of-type h3 {
	margin: 0;
}





#friends ul li div:last-of-type {
	width: 40px;
	float: left;
}





