.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

ul {
	list-style: none;
}
li{
	display: inline-block;
}

a {
	color: hsla(0, 80%, 50%, 1);
	text-decoration: none;
}
a:link {
	color: hsla(100, 80%, 30%, 1);
}
a:visited {
	color: hsla(200, 80%, 30%, 1);
}
a:hover {
	color: hsla(300, 80%, 30%, 1);
	text-decoration: underline;
}
a:active {
	color: hsla(0, 80%, 50%, 1); 
}
a::before {
	content: "";
	/*display: block;*/
	width: 50px;
	height: 50px;
	background-color: yellow;
}
a::after {
	content: "";
	/*display: block;*/
	width: 25px;
	height: 25px;
	display: inline-block;
	
}


p::first-letter {
	font-size: 30px;
}

p::first-line {
	color: red;
}
/*p::-moz-selection{
	color: yellow;
	background-color: purple;
} */

p::selection {
	color: yellow;
	background-color: purple;

}
dialog::backdrop{
	background:hsla(0, 0%, 0%,1);
}
p{
	background-color: hsla(220, 40%, 70%, 1);
	position: relative;
	/*border-width: 5px 5px 5px 5px;
	border-style: solid;
	border-color: red green yellow blue;*/
	border-radius: 8px;
}
p::after {
	content: "";
	display: block;
	/*width: 30px;
	height: 30px;*/
	/*background-color: hsla(220, 40%, 70%, 1);*/
	position: absolute;
	right: 0%;
	border-width: 0px 15px 15px 20px;
	border-style: solid;
	border-color: transparent transparent transparent hsla(220, 40%, 70%, 1);




}






/* Pseudo Classes 
:first-child
:last-child
:nth-child(var)
:first-of-type
:last-of-type
:nth-of-type(var)

:link
:visited
:hover
:active


 Pseudo Elements 
::before
::after


 */

