*, *::before, *::after{
	box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

body {
	margin: 0;
	text-align: center;
}

#wrapper {
	width: 400px;
	margin: 25px auto;
	box-shadow: 0 0 25px 0 hsla (0, 0%, 0%, .20);
}
header {
	background-color: hsla(357, 87%, 43%, 1);
	overflow: hidden;
}

header h2{
	background-color:  hsla(0, 0%, 100%, 1);
	width: 70%;
	margin: 45px auto 20px;
	border-radius: 12px;
	text-align: center;
	text-transform: uppercase;
	padding: 3px 0;
	font-family: 'Rajdhani', sans-serif;

}

main {
	border-bottom: 10px solid hsla(357, 87%, 43%, 1);
	overflow: hidden;
	position: relative;
}


main::before,
main::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	border-width: 100px;
	border-style: solid;
}


main::before{
	left: 0;
	border-color: hsla(357, 87%, 43%, 1) transparent transparent hsla(357, 87%, 43%, 1)
}

main::after{
	right: 0;
	border-color: hsla(357, 87%, 43%, 1) hsla(357, 87%, 43%, 1) transparent transparent
}




main img{
	width: 35%;
	display: block;
	margin: 67px auto;
	margin-bottom: 40px;
}


main h1{
	font-size: 85px;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: -2px;
	margin: 25px 0;


}
main h3{
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: 'Rajdhani', sans-serif;
}