*, *:before, *:after {
	box-sizing: border-box;
}

body{
	background-color: blue;
	font-family: 'helvetica neue', arial, sans-serif;
	height: 100%;
	padding-top: 50px;
	margin: 10;
}
html{
	height: 100%;
	background-size:0;
	}
	.clearfix:after
	.clearfix:before{
	content: "";
	display: block;
	clear: both;
}
.product-label{

}
.product-label img{
	
}